<!DOCTYPE html>
<html lang="tr">
<head><title>{{ title }}</title></head>
<body style="text-align: center">
<style>
    * {
        font-family: 'Quicksand', sans-serif;
    }
</style>
<div class="card-gray" style="background: white;padding: 55px;border-radius: 4px;display: inline-block">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark" style="color:#9ABC66;font-size: 100px;line-height: 200px;margin-left: -15px">✓</i>
    </div>
    <h1 style="color: #88B04B;font-weight: 900;font-size: 40px;margin-bottom: 10px;">Tebrikler!</h1>
    <p style="color:#404F5E;font-size: 19px">E-posta adresinize mail gönderilmiştir. Mail adresinize doğrudan gitmek için<a
            style="text-decoration: none" href="https://mail.google.com/"> Tıklayınız.</a>
    </p>
</div>

</body>
</html>